{% extends 'base.html.twig' %}

{% block bodyManage %}
{% if is_granted('ROLE_ADMIN') %}
<div class="btn-group-vertical menuManage">
    <a class="btn btn-outline-success" href="{{ path('associationAdmin') }}" role="button">Ajouter</a>       
    <a class="btn btn-outline-secondary buttonManage" href="{{ path('addressAdd') }}" role="button">Gestion Adresses</a>        
    <a class="btn btn-outline-secondary buttonManage" href="{{ path('domainAdd') }}" role="button">Gestion Domaines</a>        
</div>
{% endif %}
    <div class="bodyManage">
        <h3 class="cssBlock">Les Associations</h3>
        <div id="divAssociation">
            {% for association in association %}
                <div class="cssBlock">
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="dropdown listCrud">
                            <button class="btn btn-secondary dropdown-toggle listCrudBtn1" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a href="{{ path('assoUpdate', {'id': association.id} ) }}">Modifier</a>
                                <div class="dropdown-divider"></div>
                                <a onclick="return confirm('Vous êtes sur de bien vouloir supprimer cette association ?')" href="{{ path('assoDelete', {'id': association.id} ) }}">Supprimer</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="card-header">{{ association.domain.nameDomain }}</div>
                    <div class="card-body">
                        <img class="imgArticle" src="{{ association.logoAssociation }}">
                        <h5 class="card-title modalTitle"><a href="{{association.linkAssociation}}" target="_blank">{{ association.nameAssociation }}</a></h5>
                    </div>
                </div>  
            {% endfor %}
        </div>
    </div>
{% endblock %}
