{% extends 'base.html.twig' %}

{% block body %}
    {% if newAssociation == null %}
        <h3 class="cssBlock">Nouvelle association</h3>
    {% else %}
        <h3 class="cssBlock">Modification de l'association</h3>
    {% endif %}
    {# FORM ASSOCIATION #}
    {{ form_start(formAssociation) }}
        {{ form_row(formAssociation.nameAssociation) }}
        {{ form_row(formAssociation.descriptionAssociation) }}
        {{ form_row(formAssociation.logoAssociation) }}
        {{ form_row(formAssociation.linkAssociation) }}
        <label for="address">Adresse</label>
        <div class="row justify-content-between">
            <div class="col-10">
                {{ form_widget(formAssociation.address) }}
            </div>            
            <button data-toggle="modal" data-target="#modalAddress" id="addAddress" type="button" class="btn btn-secondary col-0.5" >+</button>
        </div>
        <label for="domain">Domaine</label>
        <div class="row justify-content-between">
            <div class="col-10">
                {{ form_widget(formAssociation.domain) }}
            </div>            
            <button data-target="#modalDomain" data-toggle="modal" id="addAddress" type="button" class="btn btn-secondary col-0.5">+</button>
        </div>
    {{ form_end(formAssociation) }}
    

    {% include '/modals/modalAddress.html.twig' %}
    {% include '/modals/modalDomain.html.twig' %}

{% endblock %}
