{% extends 'base.html.twig' %}

{% block body %}
    <a class="col-1" href="{{ path('association') }}"><button type="button" class="btn btn-outline-secondary">x</button></a>
    <h3 class="cssBlock">Modifier l'association</h3>
    <div class="divUpdateArticle">
        {{ form_start(formAsso) }}
            {{ form_row(formAsso.nameAssociation) }}
            {{ form_row(formAsso.descriptionAssociation) }}
            {{ form_row(formAsso.logoAssociation) }}
            {{ form_row(formAsso.linkAssociation) }}
            <label for="address">Adresse</label>
            <div class="container form-group">
                <div class="row justify-content-between">
                    <select class="form-control col-10" id="address" name="addressId">
                        {% for address in address %}
                            {% if (address.numberStreetAddress != oneAddress.numberStreetAddress) and (address.streetAddress != oneAddress.streetAddress) and (address.townAddress != oneAddress.townAddress) %}
                                <option value="{{ address.id }}">{{ address.numberStreetAddress }} {{ address.streetAddress }} {{ address.townAddress }}</option>
                            {% else  %}
                                <option selected value="{{ address.id }}">{{ address.numberStreetAddress }} {{ address.streetAddress }} {{ address.townAddress }}, {{ address.country.nameCountry }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button data-toggle="modal" data-target="#modalAddress" id="addAddress" type="button" class="btn btn-secondary col-0.5" >+</button>
                </div>
            </div>
            <label for="address">Domaine</label>
            <div class="container form-group">
                <div class="row justify-content-between">
                    <select class="form-control col-10" id="domain" name="domainId">
                        {% for domain in domain %}
                            {% if (domain.nameDomain != oneDomain.nameDomain) %}
                                <option value="{{ domain.id }}">{{ domain.nameDomain }}</option>
                            {% else  %}
                                <option selected value="{{ domain.id }}">{{ domain.nameDomain }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button data-target="#modalDomain" data-toggle="modal" id="addAddress" type="button" class="btn btn-secondary col-0.5">+</button>
                </div>
            </div>
            {{ form_row(formAsso.save) }}
        {{ form_end(formAsso) }}
    </div>
    {% include '/modals/modalAddress.html.twig' %}
    {% include '/modals/modalDomain.html.twig' %}
{% endblock %}
