{% extends 'base.html.twig' %}

{% block body %}
    <h4 class="card-title cssBlock">Mon compte</h4>
    <div class="cssBlock">
        <div class="card-body ">
            {{ form_start(formUser) }}
                {{ form_row(formUser.username) }}
                {{ form_row(formUser.email) }}
                <a href="{{ path('account-password') }}"><p>Changer mon mot de passe</p></a>
                {{ form_row(formUser.save) }}
            {{ form_end(formUser) }}            
        </div>
    </div>
{% endblock %}
