{% extends 'base.html.twig' %}
{% block title %}Modification du mot de passe !{% endblock %}

{% block body %}
    <h3 class="cssBlock">Modification du mot de passe</h3>
    <form action="{{ path('forgotPasswordUpdate') }}" name="form" method="post">
        <div class="form-group">
            <label for="form_email" class="required">Email</label>
            <input type="email" id="form_email" name="email" required class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" id="form_save" class="btn-primary btn">Valider</button>
        </div>
    </form>
{% endblock %}