{% extends 'base.html.twig' %}
{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
<h5 class="cssBlock">Nouveau mot de passe</h5>
    {{ form_start(form) }}
        <div class="form-group">
            <label for="email" class="required">Votre email</label>
            <input class="form-control" type="text" name="email" id="email">
        </div>
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}