{% extends 'base.html.twig' %}
{% block title %}Modification du mot de passe !{% endblock %}

{% block body %}
    <h3 class="cssBlock">Modification du mot de passe</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}