/* BODY */
    body {
        /* margin-top: 62px !important; */
        height: auto !important;
    }
    body, html {
        height: 100%;
    }
    .body {
        background-image: url("../img/background.jpg");
        filter: blur(8px);
        -webkit-filter: blur(8px);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
 
/* ALL */
    .bodyManage {
        margin: 0 195px;    
    }
    .menuManage {
        position: absolute !important;
        top: 16em;
        left: 40px;
    }
    .buttonManage {
        color: white !important;
        border: initial !important;
    }
    .cssBlock {
        text-align: center;
        margin: 5% 0%;
        background-color: rgba(0,0,0, 0.4);
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        padding: 20px;
    }
    .cssContent {
        margin: 4em 0px;
        background-color: rgba(0,0,0, 0.6);
        text-align: justify;
        color: white;
    }
    .btn-primary {
        background-color: #555 !important;
        border-color: #555 !important;
    }
    .divAdd {
        text-align: end;
    }
    .text {
        color: white;
        text-align: center;
        padding: 2% 0%;
        margin: 0px;
    }
    .valid {
        color: green !important;
    }
    .alertClose {
        text-align: center;
    }
    /* Datatable */
    .table, .table-hover {
        color: white !important;
    }

    /* Position text in the middle of the page/image */
        .bg-text {
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0, 0.4);
            color: white;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            position: absolute;
            top: 37%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 80%;
            padding: 20px;
            text-align: center;
        }
    .divContainer {
        padding-top: 82%;
    }
/* OTHER */
    .listCrud {
        position: absolute !important;
    }
    .listCrudBtn1 {
        background: rgba(0,0,0, 0) !important;
        border-color: rgba(0,0,0, 0) !important;
    } 
    .listCrud div {
        text-align: center !important;
    }
    .card-body {
        padding: 0px !important;
    }
/* HOME PAGE */
    #imgAccueil {
        width: inherit;
    }
    .barNav {
        /* position: absolute !important; */
        width: -webkit-fill-available !important;
        background-color: black !important;
        /* position: fixed !important; */
    }
    .divHomePage {
        height: -webkit-fill-available;
    }
/* PAGE ARTICLE */
    .imgArticle {
        width: 276px;
        height: 136px;
    }
    #divArticle, #divAssociation{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #modal {
        display: block;
    }
    #titreArticleId{
        text-align: center;
    }
    #warningMessage {
        margin: 1.75rem auto;
    }
    .closeArticle {
        position: relative;
        right: 7px; 
        color: black !important;
        opacity: initial !important;
    }
    .navArticleAdmin {
        margin-top: 3%;
    }
    .dropdown-menu a {
        color: white !important;
        font-weight: initial;
    }
    /* ARTICLE SHOW */
        .card-title {
            margin: 9px 0px !important;
        }
    /* MODAL MESSAGE */
        .sectionMessage {
            width: -webkit-fill-available;
            margin: 0% 3%;
        }
        .jumbotron {
            text-align: center;
        }
        .closeBtn a {
            color : red;
        }
        .validBtn a {
            color : green;
        }

/* PAGE MESSAGE */
    #divDatatable {
        margin: 5%;
        padding: 1%;
        background:#2A9FD6;
        border-radius: 13px 13px 13px 13px;
    }
    #table_id_filter, #table_id_length{
        display: none;
    }
    #table_id tbody {
        color: black;
    }
    #table_id thead {
        background: black;
    }
    .textMessage {
        word-wrap: break-word;
        max-width: 1px;
    }
    .dateMessage, .userMessage {
        width: 14%;
        text-align: center;
    }
    .closeMessage {
        color: #cc0000;
        opacity: initial;
        font-size: x-large;
    }
/* PAGE ASSOCIATION */
    .text-white {
        max-width: 20rem;
    }
    .modalTitle {
        text-align: center;
        margin: 12px 0px 0px 0px !important;
    }
    .modalTitle a {
        margin-top: 6%;
        color: white !important;
    }
/* PAGE ADDRESS */
    .divSelectAddress {
        display: flex;
    }
    .divSelectAddress:hover {
        background-color: rgba(0,0,0,1) !important;
    }
    .closeAddress, .closeAddress:hover {
        opacity: initial;
        color: #cc0000;
        font-size: x-large;
        margin-right: 12px;
    }
/* ADMIN ASSOCIATION */
    #addAddress {
        margin: auto;
    }
    .logoUpdateAssociation {
        position: absolute;
        right: 0px;
    }
    textarea.form-control {
        height: 17em !important;
    }
    /* MODAL ADDRESS */
        #modalAddress {
            background-color: rgba(0, 0, 0, 0.83);
        }
        #divModalAddress form {
            width: -webkit-fill-available;
        }
        #divClose {
            position: absolute;
            right: 0px;
        }
        .titreModal{
            margin: auto;
            padding: 6% 0px;
        }

/* PAGE CONTACT */
    .submitContact .btn {
        text-align: center !important;
    }
    .submitContact {
        text-align: center;
        padding: 1em 0em;
    }
    .logo {
        width: inherit;
    }

/* PAGE LOGIN */
    .modal-dialog {
        pointer-events: initial !important;
    }
    .linkA {
        position: absolute;
        right: 23px;
    }
    .required {
        text-align: left !important;
    }
    .modalLogin {
        margin: 0% 0%;
        background-color: rgba(0,0,0, 0.4);
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        padding: 20px;
    }
    .submitLogin {
        text-align-last: center;
        margin-top: 11% !important;
    }
    .submitLogin .btn, .submitContact .btn {
        padding: 0.375rem 32px !important;
    }
    .modal-footer{
        border-top: none !important;
        padding-top: 7px !important;
    }
    /* PAGE ACTION */
        .textAction {
            color: white;
            text-align: center;
            margin-top: -20px;
        }
        .arrowRight {
            float: right;
            font-size: 1.3125rem;
            font-weight: 700;
            line-height: 1;
            color: rgb(136, 136, 136);
            text-shadow: none;
        }
        .arrowLeft {
            float: left;
            font-size: 1.3125rem;
            font-weight: 700;
            line-height: 1;
            color: rgb(136, 136, 136);
            text-shadow: none;
        }
        /* DRAG AND DROP */
            .draggable, .noDragable {
                transition: all 200ms linear;
                padding: 12px;
                user-select: none;
                margin-top: 2%;
                border: 1px solid #dee2e66e;
                text-align: center;
            }
            .draggable input {
                background-color: rgba(0,0,0,0);
                color: white;
                border: 0 solid;
                cursor: default;
            }

/* MEDIA QUERIES */
@media screen and (max-width: 1140px) {
    #flexMessage {
        display: block;
    }
}
