{% extends 'base.html.twig' %}

{% block body %}
<a class="col-1" href="{{ path('association') }}"><button type="button" class="btn btn-outline-secondary">x</button></a>
    <div class="container row">
        <div class="col">
            <h5 class="cssBlock">Ajout d'un nouveau domaine</h5>
            {{ form_start(formDomain) }}
                {{ form_row(formDomain.nameDomain) }}
                {{ form_row(formDomain.save) }}
            {{ form_end(formDomain) }}
        </div>

        <div class="listAddress col">
            <h5 class="cssBlock">Liste des domaines</h5>
            <div class="cssContent">
                {% for domain in domain %}
                    <div class="divSelectAddress btn-outline-secondary">
                        <a class="btn btn-lg btn-block buttonManage" href="{{ path('domainUpdate', {'id': domain.id} ) }}">{{ domain.nameDomain }}</a>
                        <a class="closeAddress" onclick="return confirm('Vous êtes sur de bien vouloir supprimer ce domaine ?')" href="{{ path('domainDelete', {'id': domain.id} ) }}">x</a>
                    </div>
                    
                {% endfor %} 
            </div>
            
        </div>
    </div>
{% endblock %}