{% extends 'base.html.twig' %}

{% block body %}
<div class="cssBlock">
    <h3>Liste d'actions à mettre en place</h3>
</div>
<div class="container">
    <div class="row justify-content-around">
        <div class="col-lg-5">
            <div class="cssBlock">
                <h5>En cours</h5>
            </div>
            <div class="cssContent">
                <div class="dropper">
                    <div class="draggable">#1</div>
                    <div class="draggable">#2</div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="cssBlock">
                <h5>Liste des actions</h5>
            </div>
            <div class="cssContent">
                <div class="dropper">
                    <div class="draggable">#3</div>
                    <div class="draggable">#4</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
