{% extends 'base.html.twig' %}

{% block body %}
    <div class="cssBlock">
        <h3>Liste d'actions à mettre en place</h3>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="divAdd">
            <a class="btn btn-outline-success addAssociation" href="" role="button">Ajouter</a>
        </div>        
    {% endif %}
    <div class="text cssContent">
        Pour continuer à défendre l’environnement, votre soutien nous est indispensable. Bonne nouvelle : il y a de multiples manières d’agir pour la planète.
        Voici quelques actions à mettre en place au quotidien.
    </div>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-5">
                <div class="cssBlock">
                    <h5>Liste des actions</h5>
                </div>
                {% if is_granted('ROLE_USER') %}
                    <p class="textAction">Cliquer sur la flèche pour activer une action.</p>
                {% else %}
                    <p class="textAction"><a href="{{ path('login') }}">Connectez-vous</a> pour faire le trie de vos actions !</p>
                {% endif %}
                <div class="cssContent">
                    <div class="dropper">
                        {% if is_granted('ROLE_USER') %}
                            {% for action1 in action1 %}
                                <div class="draggable">
                                    {{ action1.action.wordingAction }}
                                    <input name="{{ action1.action.id }}" type="hidden" value="{{ action1.action.wordingAction }}">
                                    <a class="arrowRight" href="{{ path("updateColumn1", {'id': action1.action.id}) }}">-></a>
                                </div>
                            {% endfor %}
                        {% else %} 
                            {% for action in actions %}
                                <div class="draggable">
                                    {{ action.wordingAction }}
                                    <input name="{{ action.id }}" type="hidden" value="{{ action.wordingAction }}">
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="cssBlock">
                    <h5>En cours</h5>
                </div>
                {% if is_granted('ROLE_USER') %}
                    <p class="textAction">Cliquer sur "V" une fois que vous avez accompli une action.</p>
                {% else %}
                    <p class="textAction"><a href="{{ path('login') }}">Connectez-vous</a> pour faire le trie de vos actions !</p>
                {% endif %}
                <div class="cssContent">
                    <div class="dropper">
                        {% if is_granted('ROLE_USER') %}
                            {% for action2 in action2 %}
                                <div class="draggable">
                                    <a class="arrowLeft" href="{{ path("updateColumn2", {'id': action2.action.id}) }}"><-</a>
                                    {{ action2.action.wordingAction }}
                                    <input name="{{ action2.action.id }}" type="hidden" value="{{ action2.action.wordingAction }}">
                                    <a class="close valid" href="{{ path("validColumn2", {'id': action2.action.id}) }}">v</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cssBlock">
        <h5>Actions accomplies</h5>
    </div>
    <div class="cssContent">
        <div class="dropper">
            {% if is_granted('ROLE_USER') %}
                {% for action3 in action3 %}
                    <div class="noDragable">
                        {{ action3.action.wordingAction }}
                        <a class="close" href="{{ path("deleteColumn0", {'id': action3.action.id}) }}">x</a>
                    </div>
                {% endfor %} 
            {% endif %}
        </div>
    </div>

{% endblock %}
