{% extends 'base.html.twig' %}

{% block body %}
<a class="col-1" href="{{ path('association') }}"><button type="button" class="btn btn-outline-secondary">x</button></a>
    <div class="container row">
        <div class="col">
            {% if compt %}
                <h5 class="cssBlock">Ajout d'une nouvelle adresse</h5>
            {% else %}
                <h5 class="cssBlock">Modification d'une adresse</h5>
            {% endif %}
            {{ form_start(formAddress) }}
                {{ form_row(formAddress.numberStreetAddress) }}
                {{ form_row(formAddress.streetAddress) }}
                {{ form_row(formAddress.townAddress) }}
                {{ form_row(formAddress.country) }}
                {{ form_row(formAddress.save) }}
            {{ form_end(formAddress) }}
        </div>

        <div class="listAddress col">
            <h5 class="cssBlock">Liste des adresses</h5>
            <div class="cssContent">
                {% for address in address %}
                    <div class="divSelectAddress btn-outline-secondary">
                        <a class="btn btn-lg btn-block buttonManage" href="{{ path('addressUpdate', {'id': address.id} ) }}">{{ address.numberStreetAddress }} {{ address.streetAddress }} {{ address.townAddress }}, {{ address.country.nameCountry }} </a>
                        <a class="closeAddress" onclick="return confirm('Vous êtes sur de bien vouloir supprimer cette adresse ?')" href="{{ path('addressDelete', {'id': address.id} ) }}">x</a>
                    </div>
                    
                {% endfor %} 
            </div>
            
        </div>
    </div>
{% endblock %}