{# MODAL ADDRESS #}
<div id="modalAddress" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="divClose">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">X</button>
            </div>                    
            <h5 class="titreModal">Ajout d'une nouvelle adresse</h5>
            <div class="modal-header" id="divModalAddress">
                {{ form_start(formAddress) }}
                    {{ form_row(formAddress.numberStreetAddress) }}
                    {{ form_row(formAddress.streetAddress) }}
                    {{ form_row(formAddress.townAddress) }}
                    {{ form_row(formAddress.country) }}
                    {{ form_row(formAddress.save) }}
                {{ form_end(formAddress) }}
            </div>
        </div>
    </div>
</div>  