{# MODAL DOMAIN #}
<div id="modalDomain" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="divClose">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">X</button>
            </div>                    
            <h5 class="titreModal">Ajout d'un nouveau domaine :</h5>
            <div class="modal-header" id="divModalAddress">
                {{ form_start(formDomain) }}
                    {{ form_row(formDomain.nameDomain) }}
                    {{ form_row(formDomain.save) }}
                {{ form_end(formDomain) }}
            </div>
        </div>
    </div>
</div> 