{% extends 'base.html.twig' %}

{% block body %}
    <!-- modal of connexion -->
    <h5 class="modal-title cssBlock">Connexion</h5>
    <div class="modal-dialog" role="document">
        <div class="modalLogin">
            <form action="{{ path('login') }}" name="form" method="post">
                {% if error %}
                    <div class="alert alert-danger">Identifiant ou mot de passe invalide !</div>
                {% endif %}
                <div id="form">
                    <div class="form-group">
                        <label for="form_email" class="required">Email</label>
                        <input type="email" id="form_email" name="_username" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="form_plainPassword" class="required">Mot de passe</label>
                        <input type="password" id="password" name="_password" required class="form-control" />
                    </div>
                    <a class="linkA" href="{{ path('forgotPassword') }}">Mot de passe oublié ?</a>
                </div>
                <div class="form-group submitLogin">
                    <button type="submit" id="form_save" class="btn btn-secondary">Valider</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <p>Pas inscrit ? <a href="{{ path('registration') }}">Clique ici</a></p>
        </div>
    </div>
{% endblock %}
