{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <!-- modal of registration -->
    <h5 class="modal-title cssBlock">Inscription</h5>
    <div class="modal-dialog" role="document">
        <div class="modalLogin">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="modal-footer">
            <p>Déjà inscrit ? <a href="{{ path('login') }}">Clique ici</a></p>
        </div>
    </div>
{% endblock %}
