{% extends 'base.html.twig' %}
{% block body %}
    <h3 class="cssBlock">Contact</h3>
    <div class="container">
        <div class="row justify-content-around">
             <div class="cssContent submitContact col-md-5">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }} 
        </div>        
        <div class="cssBlock col-md-5">

            <p>N'hésitez pas à envoyer un mail ou à appeler pour toute information supplémentaire</p>
           {% for site in site %}
                <p>{{ site.emailSite }}</p>
                <p>{{ site.phoneSite }}</p>
                {% for address in site.address %}
                    <p>{{ address.fullName }}</p> 
                {% endfor %}
           {% endfor %}
            
            <img class="logo" src="{{ asset('img/logo.png') }}" alt="Logo">
            
        </div>
        </div>
    </div>
       
{% endblock body %}