{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="cssBlock">Vos commentaires</h3>
    <div class="cssBlock">
        <table id="table_id" >
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Commentaire</th>
                    <th>Date</th>
                    <th>Statut</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.article.titleArticle}}</td>
                        <td>{{ message.textMessage}}</td>
                        <td>{{ message.createdAt|date("d/m/Y")}}</td>
                        <td>
                            {% if message.statusMessage == constant('App\\Entity\\Message::VALIDE') %}
                                Validé
                            {% elseif message.statusMessage == "0" %}
                                En cours
                            {% else %}
                                Non validé
                            {% endif %}
                        </td>
                        <td><a class="closeMessage" onclick="return confirm('Vous êtes sur de bien vouloir supprimer votre message ?')" href="{{ path('messageUserDelete', {'id': message.id} ) }}">x</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
