<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Climatoc{% endblock %}</title>
        <!-- Link CSS -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <!-- Link Datatable CSS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <!-- Link bootstrap CSS -->
        <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
        <!-- Link for icon -->
        <link rel="icon" href="{{ asset('img/planet.png') }}" type="image/x-icon"/>
    </head>

    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top barNav">
        <a class="navbar-brand" href="{{ path('clima') }}">Climatoc</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('association') }}">Gestion associations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('article') }}">Gestion articles</a>
                    </li>
                {% else %}
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('message') }}">Mes commentaires</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('action') }}">Mes actions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('account') }}">Mon compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('article') }}">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('association') }}">Associations</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('contact') }}" class="nav-link">Contact</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('article') }}">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('association') }}">Associations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('action') }}">Actions</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('contact') }}" class="nav-link">Contact</a>
                        </li>
                    {% endif %}
                {% endif %}                
            </ul>
            {% if not app.user %}
                <a href="{{ path('login') }}"><button class="btn btn-secondary my-2 my-sm-0" type="submit">Connexion</button></a>
            {% else %}
                <a href="{{ path('logout') }}"><button class="btn btn-secondary my-2 my-sm-0" type="submit">Déconnexion</button></a>
            {% endif %}
        </div>
    </nav>

    {% include "addFlash.html.twig" %}
    
    <body>  
        <div class="body"></div>
        <div class="container divHomePage">
            {% block body %}
        
            {% endblock %}
        </div>
        {% block bodyManage %}
        
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </body>  
    {# <div id="footer">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-2"><a href="#">Mentions Légales</a></div>
                <div class="col-md-1">|</div>
                <div class="col-md-2"><a href="{{ path('contact') }}">Contact</a></div>
                <div class="col-md-1">|</div>
                <div class="col-md-2"><a href="#">Mentions Légales</a></div>
            </div>
        </div>
    </div> #}
    <!-- Link Jquery -->
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <!-- Link JS --> 
    <script type='text/javascript' src="{{ asset('js/style.js') }}"></script>
    <!-- Link Jquery Datatable  -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</html>
