{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="cssBlock">
        <h1>Vous n'avez accès à cette page !</h1>
        <p>Retournez à la <a href="{{ path('clima') }}">page d'acceuil</a></p>
    </div>
{% endblock %}