{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="cssBlock">
        <h1>Cette page n'existe pas !</h1>
        <p>Vérifiez l'URL ou retournez à la <a href="{{ path('clima') }}">page d'acceuil</a></p>
    </div>
{% endblock %}