<section class="sectionMessage">        
    <table class="table table-hover">
        <h4 id="titreMessage">Il y a {{ message|length }} commentaires {% if is_granted('ROLE_ADMIN') %} {{visible}} {% endif %} !</h4>
        <thead>
            <tr>
                <th scope="col">Nom d'utilisateur</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Date du commentaire</th>
                {% if is_granted('ROLE_ADMIN')  %}
                    <th scope="col"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for message in message %}
                <tr class="table-active">
                    <th scope="row" class="userMessage">{{ message.user.username}}</th>
                    <td class="textMessage">{{ message.textMessage }}</td>
                    <td class="dateMessage">{{ message.createdAt | date('d/m/Y') }}</td>
                    {% if is_granted('ROLE_ADMIN')  %}
                        {% if messageValidate %}
                            <td class="closeBtn"><a class="close" onclick="return confirm('Vous êtes sur de bien vouloir supprimer ce message ?')" href="{{ path('messageInactive', {'id': message.id} ) }}">x</a></td>
                        {% else %}
                            <td class="validBtn"><a class="close" onclick="return confirm('Vous êtes sur de bien vouloir valider ce message ?')" href="{{ path('messageValid', {'id': message.id} ) }}">v</a></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table> 
</section> 