{% extends 'base.html.twig' %}

{% block body %}
<h3 class="cssBlock">Nouvel article</h3>
{# FORM ARTICLE #}
    {{ form_start(formArticle) }}
        {{ form_row(formArticle.titleArticle) }}
        {{ form_row(formArticle.textArticle) }}
        {{ form_row(formArticle.picturesArticle) }}
        {{ form_row(formArticle.category) }}
        {{ form_row(formArticle.save) }}
    {{ form_end(formArticle) }}
{% endblock %}
