{% extends 'base.html.twig' %}

{% block bodyManage %}    
    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group-vertical menuManage">
            <a class="btn btn-outline-success" href="{{ path('addArticleAdmin') }}" role="button">Ajouter</a>        
            <a class="btn btn-outline-secondary buttonManage" href="#" role="button">Gestion Categories</a>        
        </div>
    {% endif %}

    <div class="bodyManage">
        <h3 class="cssBlock">Les articles</h3>     
        <div id="divArticle">
            {% for article in article %}        
                <div class="cssBlock" style="max-width: 20rem;">
                    <div class="dropdown listCrud">
                        {% if is_granted('ROLE_ADMIN') %}
                            <button class="btn btn-secondary dropdown-toggle listCrudBtn1" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a href="{{ path('articleUpdate', {'id': article.id}) }}">Modifier</a>
                                <div class="dropdown-divider"></div>
                                <a onclick="return confirm('Vous êtes sur de bien vouloir supprimer cette association ?')" href="{{ path('articleDelete', {'id': article.id} ) }}">Supprimer</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-header">{{ article.category.themeCategory }}</div>
                    <div class="card-body">
                        <img class="imgArticle" src="{{ article.picturesArticle }}">
                        <h5 class="card-title modalTitle"><a href="{{ path('show', {'id' : article.id }) }}">{{ article.titleArticle }}</a></h5>
                    </div>
                </div>      
            {% endfor %}
        </div>
    </div>
{% endblock %}
