{% extends 'base.html.twig' %}

{% block body %}
    <h3 id="title">Les articles</h3>
    <div id="divArticle">
        {% for article in article %}
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ article.idCategory.themeCategory }}</div>
                <div class="card-body">
                    <img class="imgArticle" src="{{ article.picturesArticle }}">
                    <a href="{{ path('show', {'id' : article.id }) }}"><h5 class="card-title">{{ article.titleArticle }}</h5></a>
                </div>
            </div>            
        {% endfor %}
    </div>
{% endblock %}
