{% extends 'base.html.twig' %}

{% block body %}
    <a class="col-1" href="{{ path('article') }}"><button type="button" class="btn btn-outline-secondary">x</button></a>
    <h3 class="cssBlock">Modifier l'article</h3>
    <div class="divUpdateArticle">
        {{ form_start(formArticle) }}
            {{ form_row(formArticle.titleArticle) }}
            {{ form_row(formArticle.textArticle) }}
            {{ form_row(formArticle.picturesArticle) }}
            {{ form_row(formArticle.category) }}
            {{ form_row(formArticle.save) }}
        {{ form_end(formArticle) }}
    </div>
{% endblock %}
