{% extends 'base.html.twig' %}

{% block body %}
    <div class="container navArticleAdmin">
        <div class="row justify-content-between">
            <a class="col-1" href="{{ path('article') }}"><button type="button" class="btn btn-outline-secondary">x</button></a>
            {% if is_granted('ROLE_ADMIN') %}
                <a role="button" class="btn btn-outline-warning col-2" href="{{ path('articleUpdate', {'id': idArticle.id}) }}">Modifier</a>
            {% endif %}
        </div>
    </div>
    <h5 class="modal-title cssBlock">{{ idArticle.titleArticle }}</h5>
    <div id="modal">
        <div class="cssContent" role="document">
            <div class="modal-body">
                <p class="card-text">{{ idArticle.textArticle }}</p>
            </div>
        </div>
    </div>
    
    <!-- DATATABLE FOR SELECT MESSAGE ACTIVE-->
    {% include "article/_articleTableMessage.html.twig" with {"message": message, "visible": "visible", "messageValidate": true } %}
    {% if is_granted('ROLE_ADMIN') %}
        <!-- DATATABLE FOR SELECT MESSAGE INACTIVE -->
        {% include "article/_articleTableMessage.html.twig" with {"message": messageFalse, "visible": "non visible", "messageValidate": false} %}
    {% endif %}
    {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN')%}
        <div {% if app.user %} id="flexMessage" {% endif %}>
            <div class="cssBlock">
                <h4 id="title">Ajouter un commentaire</h4> 
                <!-- IF FOR USER -->
                {% if app.user %}
                    <!-- START OF FORM -->
                    {{ form_start(form) }}
                    <label for="form_textMessage" class="required">Votre nom d'utilisateur:</label>
                    <p>{{ app.user.username }} </p>
                    {{ form_widget(form) }}
                    <button id="validerMessage" type="submit" class="btn btn-success" >Valider</button>
                    {{ form_end(form) }}
                {% else %}
                    <div id="warningMessage" class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                        <div class="card-body">
                            <h6 class="card-title">Veuillez-vous connecter pour écrire un commentaire !</h6>
                        </div>
                    </div>
                <!-- END OF IF -->
                {% endif %}
            </div>

            {# <!-- IF FOR USER -->
            {% if app.user and message %}
                <!-- DATATABLE FOR SELECT MESSAGE -->
                <section id="sectionMessage">        
                    <table class="table table-hover">
                        <h4 id="titreMessage">Il y a {{ message|length }} commentaires !</h4>
                        <thead>
                            <tr>
                                <th scope="col">Nom d'utilisateur</th>
                                <th scope="col">Commentaire</th>
                                <th scope="col">Date du commentaire</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in message %}
                                <tr class="table-active">
                                    <th scope="row" class="userMessage">{{ message.user.username}}</th>
                                    <td class="textMessage">{{ message.textMessage }}</td>
                                    <td class="dateMessage">{{ message.createdAt | date('d/m/Y') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </section> 
            <!-- END OF IF -->       
            {% endif %} #}
        </div>
    {% endif %}

{% endblock %}
